/* Universal Styling */
div, header, img, span, section, footer, p {
  border: 1px solid black;
}

html {
  font-size: 18px;
  line-height: 1.4px;
}

header, main, footer {
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
}

/* Header */
.header-bar {
  display: flex;
  justify-content: space-between;
}

/* Navigation */
.dropbtn {
  display: none;
}

/* Slogan */
#slogan {
  float: right;
}

/* Main */
main {
  flex-direction: column;
  align-items: center;
}

section.container {
  display: flex;
}

/* Footer */
