/*Universal Styling */
html {
  font-size: 18px;
  line-height: 1.4px;
  font-family: Helvetica;
}

header, main, footer {
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
}

/* Header */
header {
  background-image:url("../img/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header div.container {
  position: relative;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-top: 1rem;
  padding: 1rem 1rem;
}

/* Header -- Header Logo */
#header-logo {
  display: flex;
  align-items: center;
}

#header-logo img {
  height: 1.5rem;
  padding: 0 1rem;
}

#header-logo span {
  font-size: 1rem;
  color: #ffffff;
}

/* Header -- Navigation */
.dropbtn {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

.dropdown-content a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
}

/* Header -- Slogan */
#slogan {
  background-color: white;
  position: absolute;
  right: -2rem;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  overflow: visible;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Main */
main {
  flex-direction: column;
  align-items: center;
}

section.container {
  display: flex;
}

section.icons-container {
  display: flex;
  justify-content: center;
}

/* Main -- Icon Section */

#icons {
  display: flex;
}

.icon-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}

.icon-item img {
  width: 3.5rem;
}

.icon-item span {
  text-align: center;
}
/* Main -- Philosophy and Appointments section */
.info {
  width: 35%;
  margin-right: 5%;
}

.info-header {
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  color: #ffffff;
  text-transform: uppercase;
}

.info-content {
  margin-top: 1rem;
}
/* Footer */
footer div.container {
  background-color: azure;
  margin-top: 5rem;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* Media Queries */
@media only screen and (max-width : 1024px) {
  .container {
    width: 100%;
  }

  /* Header */
  header {
    height: 22rem;
    background-size: cover;
  }
  .header-bar {
    margin-top: 0;
  }
  #slogan {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-left: 2rem;
    position: absolute;
    right: 2rem;
  }

  /* Main -- Philosophy */
  section.container {
    justify-content: center;
  }
}

@media only screen and (max-width : 640px) {
  .container {
    width: 100%;
  }

  /* Header */
  header {
    height: 17rem;
    background-position: 20%;
  }
  #header-logo span {
    display: none;
  }
  /* Navigation */
  .dropbtn {
    display: inline;
    color: white;
    border: none;
    font-size: 1rem;
    background-color: cadetblue;
    float: right;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    background-color: white;
    max-width: 10rem;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    border: 0.5px solid white;
  }
  /* Slogan */
  #slogan {
    margin-top: 9rem;
    width: 100%;
    text-align: center;
    right: 0;
    padding: 0.5rem 0;
  }
  /* Icons */
  section.icons-container {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }
  #icons {
    flex-direction: column;
  }
  .icon-item {
    margin: 1.54rem;
  }
  /* Philosophy */
  section.container {
    display: inline-flex;
    flex-direction: column;
  }
  .info {
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
  .info-header {
    display: block;
    width: 100%;
    text-align: center;;
    }

  .info-content {
    font-size: 0.77rem;
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
    text-align: left;
  }
  footer.container {
    margin-top: 0;
  }
  .copyright {
    justify-content: center;
  }
  .copyright span {
    display: none;
  }
}
